<div class="row py-5">
  <div *ngFor="let rap of cumrap" class="col-lg-12">
    <div *ngFor="let item of suat" class="row__showtimes">
      <div class="showtimes__img">
        <img [src]="rap.hinh" alt="">
      </div>
      <div class="showtimes__content">
        <h5>{{rap.ten}}</h5>
        <h6>{{item.NgayChieuGioChieu | date:'dd-MM-yyyy'}}</h6>
        <div class="btnTime">
          <a class="btn btn-secondary" routerLink="/home/phong-ve/{{item.MaLichChieu}}">
            {{item.NgayChieuGioChieu | date:'hh:mm'}}
          </a>
        </div>
        <span class="d-block text-left">THỜI LƯỢNG: {{item.ThoiLuong}} phút</span>
      </div>
    </div>
  </div>
</div>