.detailMain{
    width: 100%;
    .detailCard{
        display: flex;
        align-items: center;
    }
    .col{
        padding: 0 0;
    }
  
}
.movie_card{
    position: relative;
    display: block;
    width: 800px;
    height: 350px;
    margin: 100px auto; 
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    &:hover{
      transform: scale(1.02);
      transition: all 0.4s;
    }
    .info_section{
      position: relative;
      width: 100%;
      height: 100%;
        background-blend-mode: multiply;
      z-index: 2;
      border-radius: 10px;
      .movie_header{
        position: relative;
        padding: 25px;
        height: 40%;
        h1{
          color: #fff;
          font-weight: 400;
        }
        h4{
          color: #9ac7fa;
          font-weight: 400;
        }
        .minutes{
          display: inline-block;
          margin-top: 10px;
          color: #fff;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid rgba(255,255,255,0.13);
        }
        .type{
          display: inline-block;
          color: #cee4fd;
          margin-left: 10px;
        }
        .locandina{
          position: relative;
          float: left;
          margin-right: 20px;
          height: 120px;
          box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
        }
      }
      .movie_desc{
        padding: 25px;
        height: 50%;
        .text{
          color: #cfd6e1;
        }
      }
      .movie_social{
        height: 10%;
        padding-left: 15px;
        padding-bottom: 20px;
        ul{
          list-style: none;
          padding: 0;
          li{
            display: inline-block;
            color: rgba(255,255,255,0.4);
            transition: color 0.3s;
            transition-delay: 0.15s;
            margin: 0 10px;
            &:hover{
              transition: color 0.3s;
              color: rgba(255,255,255,0.8);
            }
            i{
              font-size: 19px;
              cursor: pointer;
            }
          }
        }
      }
    }
    .blur_back{
      position: absolute;
      top: 0;
      z-index: 1;
      height: 100%; right: 0;
      background-size: cover;
      border-radius: 11px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .movie_header{
      width: 60%;
    }
    
    .movie_desc{
      width: 50%;
    }
    
    .info_section{
      background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
    }
    
    .blur_back{
      width: 80%;
      background-position: -100% 10% !important;  
    }
  }
  
  @media screen and (max-width: 768px) {
    .movie_card{
      width: 95%;
      margin: 70px auto; 
      min-height: 350px;
      height: auto;
    }
    
    .blur_back{
      width: 100%;
      background-position: 50% 50% !important;  
    }
    
    .movie_header{
      width: 100%;
      margin-top: 85px;
    }
    
    .movie_desc{
      width: 100%;
    }
    
    .info_section{
      background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
      display: inline-grid;
    }
  }
  
  
  #bright{
    box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
    &:hover{
      box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
    }
  }
  
  .bright_back{
    background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
  }
  
  .wrapper {
    margin:100px auto;
    width:80%;
    font-family:sans-serif;
    color:#98927C;
    font-size:14px;
    line-height:24px;
    max-width:600px;
    min-width:340px;
    overflow:hidden;
  }
  
  .tabs {
      justify-content: center;
    li {
      list-style:none;
      float:left;
      width:20%;
    }
    a {
      display:block;
      text-align:center;
      text-decoration:none;
      position:relative;
      text-transform:uppercase;
      color:#fff;
      height:70px;
      line-height:90px;
      background:linear-gradient(165deg,transparent 29%, #98927C 30%);
      
      &:hover, &.active {
         background: linear-gradient(165deg,transparent 29%, #F2EEE2 30%);
         color:#98927C;
      }
      
      &:before{
        content:'';
        position:absolute;
        z-index:11;
        left:100%;
        top:-100%;
        height:70px;
        line-height:90px;
        width:0;
        border-bottom: 70px solid rgba(0,0,0,.1);
          border-right: 7px solid transparent;
      }
      &.active:before{
        content:'';
        position:absolute;
        z-index:11;
        left:100%;
        top:-100%;
        height:70px;
        line-height:90px;
        width:0;
        border-bottom: 70px solid rgba(0,0,0,.2);
          border-right: 20px solid transparent;
      }
     
    }
  }
  .tabgroup {
    box-shadow:2px 2px 2px 2px rgba(0,0,0,.1);;
    div {
      padding:30px;
      background:#F2EEE2;
      box-shadow:0 3px 10px rgba(0,0,0,.3);
    }
  }
  .clearfix:after {
    content:"";
    display:table;
    clear:both;
  }
  