<section class="detailMain">
    <div class=" detailCard">
        <div class="movie_card" id="bright">
            <div class="info_section">
                <div class="movie_header">
                    <img class="locandina" [src]="phimObj.HinhAnh" />
                    <h1>{{phimObj.TenPhim}}</h1>
                    <h5>{{phimObj.NgayKhoiChieu | date:'dd-MM-yyyy'}}</h5>
                    <div class="divAction">
                        <span class="minutes">{{phimObj.DanhGia}}<i class="ml-2 fa fa-star"
                                aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="movie_desc">
                    <p class="text">
                        {{phimObj.MoTa}}
                    </p>
                </div>
            </div>
            <div [ngStyle]="{'background-image':'url(' + phimObj.HinhAnh +')'}" class="blur_back"></div>
        </div>
    </div>
</section>
<section class="menuTab">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Lịch chiếu" class="lichChieu">
            <ul class="nav nav-tabs nav-brand">
                <li (click)="active('bhd')" class="brand-item"><a data-toggle="tab" href="#bhd"><img id="bhd-img"
                            [ngClass]="{'actived':isActived === 'bhd'}"
                            ng-src="https://s3img.vcdn.vn/123phim/2018/09/f32670fd0eb083c9c4c804f0f3a252ed.png"
                            src="https://s3img.vcdn.vn/123phim/2018/09/f32670fd0eb083c9c4c804f0f3a252ed.png"></a></li>
                <li (click)="active( 'galaxy')" class="brand-item"><a data-toggle="tab" href="#galaxy"><img
                            id="galaxy-img" [ngClass]="{'actived':isActived === 'galaxy'}"
                            ng-src="https://s3img.vcdn.vn/123phim/2018/09/e520781386bd5436e94d6e15e193a005.png"
                            src="https://s3img.vcdn.vn/123phim/2018/09/e520781386bd5436e94d6e15e193a005.png"></a></li>
                <li (click)="active('cinestar')" class="brand-item"><a data-toggle="tab" href="#cinestar"><img
                            id="cinestar-img" [ngClass]="{'actived':isActived === 'cinestar'}"
                            ng-src="https://s3img.vcdn.vn/123phim/2018/09/1721cfa98768f300c03792e25ceb0191.png"
                            src="https://s3img.vcdn.vn/123phim/2018/09/1721cfa98768f300c03792e25ceb0191.png"></a></li>
                <li (click)="active('cgv')" class="brand-item"><a data-toggle="tab" href="#cgv"><img id="cgv-img"
                            [ngClass]="{'actived':isActived === 'cgv'}"
                            ng-src="https://s3img.vcdn.vn/123phim/2018/09/ee621ee05dcd4565caead4f29421b41e.png"
                            src="https://s3img.vcdn.vn/123phim/2018/09/ee621ee05dcd4565caead4f29421b41e.png"></a></li>
                <li (click)="active('lotte')" class="brand-item">
                    <a data-toggle="tab" href="#lotte"><img id="lotte-img" [ngClass]="{'actived':isActived === 'lotte'}"
                            ng-src="https://s3img.vcdn.vn/123phim/2018/09/404b8c4b80d77732e7426cdb7e24be20.png"
                            src="https://s3img.vcdn.vn/123phim/2018/09/404b8c4b80d77732e7426cdb7e24be20.png">
                    </a>
                </li>
            </ul>
            <div id="tabMua" class="tab-content brand-content">
                <div id="bhd" class="tab-pane show active">
                    <div class="container">
                        <div class="nav nav-tabs nav__tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-mon-tab" data-toggle="tab" href="#nav-mon"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Thứ 2</a>
                            <a class="nav-item nav-link" id="nav-tue-tab" data-toggle="tab" href="#nav-tue" role="tab"
                                aria-controls="nav-contact" aria-selected="false">Thứ 3</a>
                            <a class="nav-item nav-link  " id="nav-wed-tab" data-toggle="tab" href="#nav-wed" role="tab"
                                aria-controls="nav-home" aria-selected="true">Thứ 4</a>
                            <a class="nav-item nav-link " id="nav-thu-tab" data-toggle="tab" href="#nav-thu" role="tab"
                                aria-controls="nav-profile" aria-selected="false">Thứ 5</a>
                            <a class="nav-item nav-link " id="nav-fri-tab" data-toggle="tab" href="#nav-fri" role="tab"
                                aria-controls="nav-contact" aria-selected="false">Thứ 6</a>
                            <a class="nav-item nav-link " id="nav-sat-tab" data-toggle="tab" href="#nav-sat" role="tab"
                                aria-controls="nav-contact" aria-selected="false">Thứ 7</a>
                            <a class="nav-item nav-link " id="nav-sun-tab" data-toggle="tab" href="#nav-sun" role="tab"
                                aria-controls="nav-contact" aria-selected="false">Chủ nhật</a>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane show active" id="nav-mon" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[0]" [suat]="suatT2"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-tue" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[0]" [suat]="suatT3"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-wed" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[0]" [suat]="suatT4"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-thu" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[0]" [suat]="suatT5"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-fri" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[0]" [suat]="suatT6"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-sat" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[0]" [suat]="suatT7"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-sun" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[0]" [suat]="suatCN"></app-time-table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="galaxy" class="tab-pane fade">
                    <div class="container">
                        <div class="nav nav-tabs nav__tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-mon-tab" data-toggle="tab" href="#nav-mon-1"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Thứ 2</a>
                            <a class="nav-item nav-link" id="nav-tue-tab" data-toggle="tab" href="#nav-tue-1" role="tab"
                                aria-controls="nav-contact" aria-selected="false">Thứ 3</a>
                            <a class="nav-item nav-link  " id="nav-wed-tab" data-toggle="tab" href="#nav-wed-1"
                                role="tab" aria-controls="nav-home" aria-selected="true">Thứ 4</a>
                            <a class="nav-item nav-link " id="nav-thu-tab" data-toggle="tab" href="#nav-thu-1"
                                role="tab" aria-controls="nav-profile" aria-selected="false">Thứ 5</a>
                            <a class="nav-item nav-link " id="nav-fri-tab" data-toggle="tab" href="#nav-fri-1"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Thứ 6</a>
                            <a class="nav-item nav-link " id="nav-sat-tab" data-toggle="tab" href="#nav-sat-1"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Thứ 7</a>
                            <a class="nav-item nav-link " id="nav-sun-tab" data-toggle="tab" href="#nav-sun-1"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Chủ nhật</a>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane show active" id="nav-mon-1" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[1]" [suat]="suatT2"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-tue-1" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[1]" [suat]="suatT3"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-wed-1" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[1]" [suat]="suatT4"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-thu-1" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[1]" [suat]="suatT5"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-fri-1" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[1]" [suat]="suatT6"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-sat-1" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[1]" [suat]="suatT7"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-sun-1" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[1]" [suat]="suatCN"></app-time-table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cinestar" class="tab-pane fade">
                    <div class="container">
                        <div class="nav nav-tabs nav__tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-mon-tab" data-toggle="tab" href="#nav-mon-2"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Thứ 2</a>
                            <a class="nav-item nav-link" id="nav-tue-tab" data-toggle="tab" href="#nav-tue-2" role="tab"
                                aria-controls="nav-contact" aria-selected="false">Thứ 3</a>
                            <a class="nav-item nav-link  " id="nav-wed-tab" data-toggle="tab" href="#nav-wed-2"
                                role="tab" aria-controls="nav-home" aria-selected="true">Thứ 4</a>
                            <a class="nav-item nav-link " id="nav-thu-tab" data-toggle="tab" href="#nav-thu-2"
                                role="tab" aria-controls="nav-profile" aria-selected="false">Thứ 5</a>
                            <a class="nav-item nav-link " id="nav-fri-tab" data-toggle="tab" href="#nav-fri-2"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Thứ 6</a>
                            <a class="nav-item nav-link " id="nav-sat-tab" data-toggle="tab" href="#nav-sat-2"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Thứ 7</a>
                            <a class="nav-item nav-link " id="nav-sun-tab" data-toggle="tab" href="#nav-sun-2"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Chủ nhật</a>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane show active" id="nav-mon-2" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[2]" [suat]="suatT2"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-tue-2" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[2]" [suat]="suatT3"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-wed-2" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[2]" [suat]="suatT4"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-thu-2" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[2]" [suat]="suatT5"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-fri-2" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[2]" [suat]="suatT6"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-sat-2" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[2]" [suat]="suatT7"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-sun-2" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[2]" [suat]="suatCN"></app-time-table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cgv" class="tab-pane fade">
                    <div class="container">
                        <div class="nav nav-tabs nav__tabs" id="nav-tab-3" role="tablist">
                            <a class="nav-item nav-link active" id="nav-mon-tab" data-toggle="tab" href="#nav-mon-3"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Thứ 2</a>
                            <a class="nav-item nav-link" id="nav-tue-tab" data-toggle="tab" href="#nav-tue-3" role="tab"
                                aria-controls="nav-contact" aria-selected="false">Thứ 3</a>
                            <a class="nav-item nav-link  " id="nav-wed-tab" data-toggle="tab" href="#nav-wed-3"
                                role="tab" aria-controls="nav-home" aria-selected="true">Thứ 4</a>
                            <a class="nav-item nav-link " id="nav-thu-tab" data-toggle="tab" href="#nav-thu-3"
                                role="tab" aria-controls="nav-profile" aria-selected="false">Thứ 5</a>
                            <a class="nav-item nav-link " id="nav-fri-tab" data-toggle="tab" href="#nav-fri-3"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Thứ 6</a>
                            <a class="nav-item nav-link " id="nav-sat-tab" data-toggle="tab" href="#nav-sat-3"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Thứ 7</a>
                            <a class="nav-item nav-link " id="nav-sun-tab" data-toggle="tab" href="#nav-sun-3"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Chủ nhật</a>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane show active" id="nav-mon-3" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[3]" [suat]="suatT2"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-tue-3" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[3]" [suat]="suatT3"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-wed-3" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[3]" [suat]="suatT4"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-thu-3" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[3]" [suat]="suatT5"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-fri-3" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[3]" [suat]="suatT6"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-sat-3" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[3]" [suat]="suatT7"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-sun-3" role="tabpanel" aria-labelledby="nav-h.ome-tab">
                                <app-time-table [cumrap]="cumRap[3]" [suat]="suatCN"></app-time-table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="lotte" class="tab-pane fade">
                    <div class="container">
                        <div class="nav nav-tabs nav__tabs" id="nav-tab-4" role="tablist">
                            <a class="nav-item nav-link active" id="nav-mon-tab" data-toggle="tab" href="#nav-mon-4"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Thứ 2</a>
                            <a class="nav-item nav-link" id="nav-tue-tab" data-toggle="tab" href="#nav-tue-4" role="tab"
                                aria-controls="nav-contact" aria-selected="false">Thứ 3</a>
                            <a class="nav-item nav-link  " id="nav-wed-tab" data-toggle="tab" href="#nav-wed-4"
                                role="tab" aria-controls="nav-home" aria-selected="true">Thứ 4</a>
                            <a class="nav-item nav-link " id="nav-thu-tab" data-toggle="tab" href="#nav-thu-4"
                                role="tab" aria-controls="nav-profile" aria-selected="false">Thứ 5</a>
                            <a class="nav-item nav-link " id="nav-fri-tab" data-toggle="tab" href="#nav-fri-4"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Thứ 6</a>
                            <a class="nav-item nav-link " id="nav-sat-tab" data-toggle="tab" href="#nav-sat-4"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Thứ 7</a>
                            <a class="nav-item nav-link " id="nav-sun-tab" data-toggle="tab" href="#nav-sun-4"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Chủ nhật</a>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane show active" id="nav-mon" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[4]" [suat]="suatT2"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-tue-4" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[4]" [suat]="suatT3"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-wed-4" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[4]" [suat]="suatT4"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-thu-4" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[4]" [suat]="suatT5"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-fri-4" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[4]" [suat]="suatT6"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-sat-4" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[4]" [suat]="suatT7"></app-time-table>
                            </div>
                            <div class="tab-pane fade" id="nav-sun-4" role="tabpanel" aria-labelledby="nav-home-tab">
                                <app-time-table [cumrap]="cumRap[4]" [suat]="suatCN"></app-time-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Đánh giá">
            <div class="container">
                <app-review></app-review>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>
<!-- <div class="modal" id="reviewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Modal body..
            </div>
        </div>
    </div>
</div> -->