<section class="detailMain row">
    <div class="col col-12 col-sm-12  col-md-7 detailCard">
        <div class="movie_card" id="bright">
            <div class="info_section">
                <div class="movie_header">
                    <img class="locandina"
                        src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg" />
                    <h1>Bright</h1>
                    <h4>2017, David Ayer</h4>
                    <span class="minutes">117 min</span>
                    <p class="type">Action, Crime, Fantasy</p>
                </div>
                <div class="movie_desc">
                    <p class="text">
                        Set in a world where fantasy creatures live side by side with humans. A human cop is forced to
                        work
                        with an Orc to find a weapon everyone is prepared to kill for.
                    </p>
                </div>
                <div class="movie_social">
                    <ul>
                        <li><i class="material-icons">share</i></li>
                        <li><i class="material-icons"></i></li>
                        <li><i class="material-icons">chat_bubble</i></li>
                    </ul>
                </div>

            </div>
            <div class="blur_back bright_back"></div>
        </div>
    </div>
    <div class="col col-md-5 tabMenu">
        <div class="wrapper">
            <ul class="tabs nav nav-pills clearfix">
                <li><a data-toggle="pill" href="#lichchieu" class="active">Lịch chiếu</a></li>
                <li><a data-toggle="pill" href="#thongtin">Thông tin</a></li>
                <li><a data-toggle="pill" href="#danhgia">Đánh giá</a></li>
            </ul>
            <div id="first-tab-group" class="tabgroup tab-content">
                <div class="tab-pane fade in active" id="lichchieu">
                    <h2>Heading 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla deserunt consectetur ratione id
                        tempore laborum laudantium facilis reprehenderit beatae dolores ipsum nesciunt alias iusto dicta
                        eius itaque blanditiis modi velit.</p>
                </div>
                <div class="tab-pane fade" id="thongtin">
                    <h2>Heading 2</h2>
                    <p>Adipisci autem obcaecati velit natus quos beatae explicabo at tempora minima voluptates deserunt
                        eum
                        consectetur reiciendis placeat dolorem repellat in nam asperiores impedit voluptas iure
                        repellendus
                        unde eveniet accusamus ex.</p>
                </div>
                <div class="tab-pane fade" id="danhgia">
                    <h2>Heading 3</h2>
                    <p>Adipisci autem obcaecati velit natus quos beatae explicabo at tempora minima voluptates deserunt
                        eum
                        consectetur reiciendis placeat dolorem repellat in nam asperiores impedit voluptas iure
                        repellendus
                        unde eveniet accusamus ex.</p>
                </div>
            </div>
        </div>
    </div>
</section>