<section id="news" class="news">
  <h1>TIN TỨC</h1>
  <div class="news__content container">
    <div class="row">
      <div class="col-card col-md-6">
        <div class="card">
          <img class="card-img-top" src="/assets/img/header/new1.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title"><a
                href="https://123phim.vn/goc-dien-anh/7756-100-ca-chua-tuoi-ky-sinh-trung-xung-dang-la-bo-phim-hay-nhat-cua-bong-joon-ho">100%
                cà chua tươi, Ký Sinh Trùng xứng đáng là bộ phim hay nhất của Bong Joon Ho</a></h4>
            <p class="card-text">Thắng giải Cành Cọ Vàng, tác phẩm nhận được tràng pháo tay dài tận 8 phút tại liên hoan
              phim quốc tế.</p>
          </div>
        </div>
      </div>
      <div class="col-card  col-md-6">
        <div class="card">
          <img class="card-img-top" src="/assets/img/header/new2.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title"><a
                href="https://123phim.vn/goc-dien-anh/7752-nguoi-tuyet-yeti-chua-bao-gio-de-thuong-nhu-the-trong-everest-nguoi-tuyet-be-nho">Người
                tuyết Yeti chưa bao giờ dễ thương như thế trong Everest: Người Tuyết Bé Nhỏ</a></h4>
            <p class="card-text">Sau Răng Sún, "chiến binh" người tuyết của DreamWorks liệu có mang đến thành công tiếp
              theo?</p>
          </div>
        </div>
      </div>
      <div class="col-card  col-md-6">
        <div class="card">
          <img class="card-img-top" src="/assets/img/header/new4.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title"><a
                href="https://123phim.vn/goc-dien-anh/7745-4-cai-ten-nao-se-mang-den-bat-ngo-cho-khan-gia-nhi-vao-nua-cuoi-nam-2019">
                4 cái tên nào sẽ mang đến bất ngờ cho khán giả 'nhí' vào nửa cuối năm 2019?
              </a> </h4>
            <p class="card-text">Này thì chó rồi mèo, và rồi gì nữa đây...</p>
          </div>
        </div>
      </div>
      <div class="col-card  col-md-6">
        <div class="card">
          <img class="card-img-top" src="/assets/img/header/new3.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title"><a
                href="https://123phim.vn/goc-dien-anh/7751-godzilla-va-nhung-dieu-ban-chua-biet-p2">Godzilla và những
                điều bạn chưa biết (P2)</a>
            </h4>
            <p class="card-text">Trước khi đại chiến diễn ra, cùng tìm hiểu mọi thông tin về Godzilla nào.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>