.movieShower {
  background-color: #f6f6f6;
  &__header {
    padding: 50px;
    font-weight: 700;
    h2 {
      text-align: center;
      text-size-adjust: 100%;
      text-transform: uppercase;
      font: normal normal 700 normal 32px / 35.2px;
    }
  }
  &__content {
    .nav-tabs {
      justify-content: center;
      margin-bottom: 10px;
      li {
        text-align: center;
        margin: 5px;
        a {
          padding: 15px 25px;
          text-decoration: none;
          color: #797981;
          $color_1: white;
          background-color: $color_1;
          $background_color_1: #ff4444;
          &.br-radius-left {
            border-radius: 5px 0 0 5px;
          }
          &.br-radius-right {
            border-radius: 0 5px 5px 0;
          }

          &.hvr-grow {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            &:hover {
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
              background-color: $background_color_1;
              color: $color_1;
            }
            &:focus {
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
              background-color: $background_color_1;
              color: $color_1;
            }
            &:active {
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
              background-color: $background_color_1;
              color: $color_1;
            }
          }
          &.active {
            background-color: $background_color_1;
            color: $color_1;
          }
        }
      }
    }
  }
}
