<section id="shower" class="movieShower">
  <div class="container">
    <div class="movieShower__header">
      <h2>Danh Sách Phim</h2>
    </div>
    <div class="movieShower__content">
      <ul id="tabs" class="nav nav-tabs" role="tablist">
        <li (click)="showPhimDangChieu()" role="presentation"><a class="hvr-grow br-radius-left active"
            href="#dangChieu" role="tab" data-toggle="tab">Đang Chiếu</a>
        </li>
        <li (click)="showPhimSapChieu()" role="presentation"><a class="hvr-grow br-radius-right" href="#sapChieu"
            role="tab" data-toggle="tab">Sắp
            Chiếu</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active show" id="dangChieu">
          <owl-carousel [options]="mySlideOptions" [items]="listPhimDangChieu"
            [carouselClasses]="['owl-theme','sliding','row']">
            <div class="itemPhimDangChieu mr-2" *ngFor="let item of listPhimDangChieu;let i = index">
              <app-movie-card [phim]="item"></app-movie-card>
            </div>
          </owl-carousel>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="sapChieu">
          <owl-carousel [options]="mySlideOptions" [items]="listPhimSapChieu"
            [carouselClasses]="['owl-theme','sliding','row']">
            <div class="itemPhimDangChieu mr-2" *ngFor="let item of listPhimSapChieu;let i = index">
              <app-movie-card [phim]="item"></app-movie-card>
            </div>
          </owl-carousel>
        </div>
      </div>
    </div>
  </div>
</section>