.col__rap {
  padding: 0;
  list-style: none;
  cursor: pointer;
  .rap {
    display: flex;
    align-items: center;
    .rap__img {
      margin-right: 20px;
      margin-bottom: 15px;
      img {
        width: 70px;
        height: 70px;
        border-radius: 2px;
      }
    }
    .rap__info {
      h5 {
        color: black;
      }
      h6 {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}

.isActived {
  opacity: 1;
}
@media screen and (max-width: 996px) {
  .col__rap {
    .rap {
      .rap__img {
        img {
          width: 50px;
          height: 55px;
        }
      }
      .rap__info {
     
        h5 {
          font-size: 16px;
          overflow: hidden;
        }
        h6{
          font-size: 13px;
          overflow: hidden;
        }
      }
    }
  }
}
@media screen and (max-width: 568px) {
  .col__rap {
    padding: 0;
    .rap {
      margin-right: 5px;
      .rap__img {
        margin-right: 0;
        img {
          width: 50px;
          height: 50px;
        }
      }
      .rap__info {
        h5 {
          font-size: 13px;
        }
        h6{
         display: none;
        }
      }
    }
  }
}
