<section id="showtimes" class="lichChieu">
  <div class="container">
    <h2>LỊCH CHIẾU</h2>
    <ul class="nav nav-tabs nav-brand">
      <li (click)="active('bhd')" class="brand-item"><a data-toggle="tab" href="#bhd"><img name="BHD" id="bhd-img"
            [ngClass]="{'actived':isActived === 'bhd'}"
            ng-src="https://s3img.vcdn.vn/123phim/2018/09/f32670fd0eb083c9c4c804f0f3a252ed.png"
            src="https://s3img.vcdn.vn/123phim/2018/09/f32670fd0eb083c9c4c804f0f3a252ed.png"></a></li>
      <li (click)="active( 'galaxy')" class="brand-item"><a data-toggle="tab" href="#galaxy"><img name="GALAXY"
            id="galaxy-img" [ngClass]="{'actived':isActived === 'galaxy'}"
            ng-src="https://s3img.vcdn.vn/123phim/2018/09/e520781386bd5436e94d6e15e193a005.png"
            src="https://s3img.vcdn.vn/123phim/2018/09/e520781386bd5436e94d6e15e193a005.png"></a></li>
      <li (click)="active('cinestar')" class="brand-item"><a data-toggle="tab" href="#cinestar"><img name="CINESTAR"
            id="cinestar-img" [ngClass]="{'actived':isActived === 'cinestar'}"
            ng-src="https://s3img.vcdn.vn/123phim/2018/09/1721cfa98768f300c03792e25ceb0191.png"
            src="https://s3img.vcdn.vn/123phim/2018/09/1721cfa98768f300c03792e25ceb0191.png"></a></li>
      <li (click)="active('cgv')" class="brand-item"><a data-toggle="tab" href="#cgv"><img name="CGV" id="cgv-img"
            [ngClass]="{'actived':isActived === 'cgv'}"
            ng-src="https://s3img.vcdn.vn/123phim/2018/09/ee621ee05dcd4565caead4f29421b41e.png"
            src="https://s3img.vcdn.vn/123phim/2018/09/ee621ee05dcd4565caead4f29421b41e.png"></a></li>
      <li (click)="active('lotte')" class="brand-item">
        <a data-toggle="tab" href="#lotte"><img name="LOTTE" id="lotte-img"
            [ngClass]="{'actived':isActived === 'lotte'}"
            ng-src="https://s3img.vcdn.vn/123phim/2018/09/404b8c4b80d77732e7426cdb7e24be20.png"
            src="https://s3img.vcdn.vn/123phim/2018/09/404b8c4b80d77732e7426cdb7e24be20.png">
        </a>
      </li>
    </ul>
    <div class="tab-content brand-content">
      <div id="bhd" class="tab-pane show active">
        <div class="container">
          <div class="row">
            <ul class="col-6">
              <app-rap-item [rap]="rap" *ngFor="let rap of cumRap[0]"></app-rap-item>
            </ul>
            <div class="col-6">
              <cdk-virtual-scroll-viewport style="height: 280px" itemSize="20">
                <app-phim-item [phim]="item" *ngFor="let item of mangChiTietPhim"></app-phim-item>
              </cdk-virtual-scroll-viewport>
            </div>
          </div>
        </div>
      </div>
      <div id="galaxy" class="tab-pane fade">
        <div class="container">
          <div class="row">
            <ul class="col-6">
              <app-rap-item [rap]="item" *ngFor="let item of cumRap[1]"></app-rap-item>
            </ul>
            <div class="col-6">
              <cdk-virtual-scroll-viewport style="height: 280px" itemSize="20">
                <app-phim-item [phim]="item" *ngFor="let item of mangChiTietPhim"></app-phim-item>
              </cdk-virtual-scroll-viewport>
            </div>
          </div>
        </div>
      </div>
      <div id="cinestar" class="tab-pane fade">
        <div class="container">
          <div class="row">
            <ul class="col-6">
              <app-rap-item [rap]="item" *ngFor="let item of cumRap[2]"></app-rap-item>
            </ul>
            <div class="col-6">
              <cdk-virtual-scroll-viewport style="height: 280px" itemSize="20">
                <app-phim-item [phim]="item" *ngFor="let item of mangChiTietPhim"></app-phim-item>
              </cdk-virtual-scroll-viewport>
            </div>
          </div>
        </div>
      </div>
      <div id="cgv" class="tab-pane fade">
        <div class="container">
          <div class="row">
            <ul class="col-6">
              <app-rap-item [rap]="item" *ngFor="let item of cumRap[3]"></app-rap-item>
            </ul>
            <div class="col-6">
              <cdk-virtual-scroll-viewport style="height: 280px" itemSize="20">
                <app-phim-item [phim]="item" *ngFor="let item of mangChiTietPhim"></app-phim-item>
              </cdk-virtual-scroll-viewport>
            </div>
          </div>
        </div>
      </div>
      <div id="lotte" class="tab-pane fade">
        <div class="container">
          <div class="row">
            <ul class="col-sm-12 col-md-6 col-lg-6">
              <app-rap-item [rap]="item" *ngFor="let item of cumRap[4]"></app-rap-item>
            </ul>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <cdk-virtual-scroll-viewport style="height: 280px" itemSize="20">
                <app-phim-item [phim]="item" *ngFor="let item of mangChiTietPhim"></app-phim-item>
              </cdk-virtual-scroll-viewport>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>