.lichChieu{
    padding: 100px;
    .brands{
        .nav-brand{
           list-style:none;
            
        }
    }
    .wrapper{
        ul{
            text-align: center;
            list-style: none;
        }
    }
}