.lichChieu {
  padding: 70px;
  background: #212121;
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.93);
  }
  .nav-brand {
    justify-content: center;
    list-style: none;
    border-bottom: none;
    margin-bottom: 35px;
    .brand-item {
      margin: 20px;
      img {
        width: 50px;
        height: 50px;
        opacity: 0.8;
      }
    }
  }
  .brand-content {
    .row {
      padding: 30px;
      background-color: #ff8a80;
      border-radius: 5px;
      .col-list-rap {
        border-right: 1px solid gray;
      }
    }
  }
}
.actived {
  transform: scale(1.2) !important;
  opacity: 1 !important;
}
@media screen and (max-width: 568px) {
  .col-6 {
    padding: 0;
  }
}
