<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Form cập nhật</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form id="updateForm" method="post" #updateForm="ngForm" (ngSubmit)="capNhatPhim(updateForm.value)" action="">
          <div class="form-group">
            <label for="tenphim">Tên phim:</label>
            <input value="" class="form-control" name="tenphim" type="text" autofocus ngModel>
          </div>
          <div class="form-group">
            <label for="manhom">Mã nhóm:</label>
            <input class="form-control" name="manhom" type="text" ngModel>
          </div>
          <div class="form-group">
            <label for="hinhanh">Hình ảnh:</label>
            <input class="form-control" name="hinhanh" type="tel" ngModel>
          </div>
          <div class="form-group">
            <label for="trailer">Trailer:</label>
            <input class="form-control" name="trailer" type="url" ngModel>
          </div>
          <div class="form-group">
            <label for="ngaykhoichieu">Ngày khởi chiếu:</label>
            <input class="form-control" name="ngaykhoichieu" type="date" ngModel>
          </div>
          <div class="form-group">
            <label for="mota">Mô tả:</label>
            <textarea class="form-control" name="mota" ngModel></textarea>
          </div>
          <div class="form-group">
            <label for="danhgia">Đánh giá</label>
            <textarea class="form-control" name="danhgia" ngModel></textarea>
          </div>
          <button type="button" class="btn btn-success">Cập nhật</button>
          <!-- <button type="button" name="submit" type="submit" class="btn btn-danger" data-dismiss="modal">Close</button> -->
        </form>
      </div>
    </div>
  </div>
</div>