<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
          <mat-tab label="Đăng nhập">
            <app-form-login></app-form-login>
          </mat-tab>
          <mat-tab label="Đăng ký">
            <app-form-sign-up></app-form-sign-up>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>