<a class="col__phim" href="#{{idTen[0]}}" data-toggle="collapse">
  <div class="phim__img">
    <img [src]="phim.HinhAnh" alt="">
  </div>
  <div class="phim__info">
    <h5>{{phim.TenPhim}}</h5>
    <h6>Thời lượng:<span>120</span>phút</h6>
    <img src="/assets/img/header/2_0.png" alt="">
  </div>
</a>
<div id="{{idTen[0]}}" class="collapse">
  <ng-container *ngIf="phim.LichChieu.length > 0; else message">
    <app-suat-item [suatChieu]="item" *ngFor="let item of phim.LichChieu; let i = index">
    </app-suat-item>
  </ng-container>
  <ng-template #message>
    Chưa có lịch chiếu
  </ng-template>
</div>