.col__phim {
  display: flex;
  text-decoration: none;
  .phim__img {
    margin-right: 20px;
    margin-bottom: 15px;
    img {
      width: 70px;
      height: 75px;
      border-radius: 2px;
    }
  }
  .phim__info {
  
    h5 {
      color: red;
      margin-bottom: 3px;
      overflow: hidden;
    }
    h6 {
      font-size: 13px;
      margin-bottom: 3px;
      color: #ffcdd2;
      overflow: hidden;
      span {
        margin: 0 5px;
      }
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
}
.collapse {
  margin-bottom: 10px;
}
@media screen and (max-width: 996px) {
  .col__phim {
    margin-left: 10px;
    .phim__img {
      img {
        width: 50px;
        height: 55px;
      }
    }
    .phim__info {
      h5 {
        font-size: 16px;
      }
    }
  }
}
