.col__phim{
    display: flex;
    .phim__img{
        margin-right: 20px;
        margin-bottom: 15px;
        img{
            width: 70px;
            height: 75px;
            border-radius: 2px;
        }
    }
    .phim__info{
        h5{
            color: red;
            margin-bottom: 3px;
        }
        h6{
            font-size: 13px;
            margin-bottom: 3px;
            span{
                margin:0 5px;
            }
        }
        .dropdown{
            &:active.dropdown-menu {
                display: block;
            }
            & > .dropdown-toggle:active{
                pointer-events: none;
            }
        }
       
    }
}