$standard: black;
$white: #F1F2F2;
$mainColor: #ff4444;
$transition: all 0.25s ease-in-out;
@mixin mybutton($color_1, $color_2,$color_3) {
  width: 100%;
  padding: 6px;
  font-size: 1.15em;
  letter-spacing: 1px;
  text-transform: uppercase;
	color: $color_1;
  background-color: $color_2;
  transition: $transition;
  display: block;
	&:hover {
		background-color: $mainColor;
		border-color: $color_1;
    color: $color_2;
    outline: none;
	}
	&:active {
		background-color:$mainColor;
		border-color: $color_1;
		color: $color_2;
    box-shadow: none;
    outline: none;
	}
	&:focus, &:active:focus {
		background-color: $mainColor;
		border-color: $color_1;
		color: $color_2;
		outline: none;
	}
	&:visited {
		background-color: $standard;
    border-color: $color_1;
    outline: none;
	}
}
.navbar {
	width:100%;
	background:#ff4444;
	position: fixed;
    z-index:10000;
    .collapse {
        .col-left{
            display: flex;
            align-items: center;
            .navbar-nav {
              .nav-item{
                .nav-link{
                  text-transform: uppercase;
                  color: $white;
                }
                &:hover > .nav-link{
                  color: black;
                  transition: all 0.5s;
                }
              }
            }
        }
        .col-right {
            .row{
                display: flex;
                align-items: center;
            .col-search {
                margin: 0 auto;
                form{
                    .input-group{
                        select {
                            background: #F6F6F6;
                            border-radius: 3px 0 0 3px;
                            color: #9E9E9E;
                            border: none;
                            &:focus{
                                box-shadow: none;
                                outline: none;
                            }
                        }
                        .form-control{
                            border: none;
                            padding: 0 auto;
                            &:focus{
                               
                                box-shadow: none;
                            } 
                        }
                        .search-button{
                            button{
                                &:focus{
                                    box-shadow: none;              
                                }
                            }
                        }
                    }
                 
                }
            
                
            }
            .col-button {
              .btn {
                outline: none;
                @include mybutton($white, $standard,$mainColor);
              }
            }
        }
    }
 }
}
