.navbar {
	width:100%;
	background:#ff4444;
	position: fixed;
    z-index:10000;
    .collapse {
        .col-left{
            display: flex;
            align-items: center;
        }
        .col-right {
            .row{
                display: flex;
                align-items: center;
            .col-search {
                margin: 0 auto;
                form{
                    .input-group{
                        select {
                            background: #F6F6F6;
                            border-radius: 3px 0 0 3px;
                            color: #9E9E9E;
                            border: none;
                            &:focus{
                                box-shadow: none;
                                outline: none;
                            }
                        }
                        .form-control{
                            border: none;
                            padding: 0 auto;
                            &:focus{
                               
                                box-shadow: none;
                            } 
                        }
                        .search-button{
                            button{
                                &:focus{
                                    box-shadow: none;              
                                }
                            }
                        }
                    }
                 
                }
            
                
            }
            .col-button {
                text-align: center;
                /* Global Button Styles */
                a{
                  &.animated-button {
                    &:link, &:visited {
                      position: relative;
                      display: block;
                      padding: 14px 15px;
                      color: #fff;
                      font-size: 14px;
                      font-weight: bold;
                      text-align: center;
                      text-decoration: none;
                      overflow: hidden;
                      letter-spacing: .08em;
                      border-radius: 0;
                      text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
                      -webkit-transition: all 1s ease;
                      -moz-transition: all 1s ease;
                      -o-transition: all 1s ease;
                      transition: all 1s ease;
                    }
                    &:link:after, &:visited:after {
                      content: "";
                      position: absolute;
                      height: 0%;
                      left: 50%;
                      top: 50%;
                      width: 150%;
                      z-index: -1;
                      -webkit-transition: all 0.75s ease 0s;
                      -moz-transition: all 0.75s ease 0s;
                      -o-transition: all 0.75s ease 0s;
                      transition: all 0.75s ease 0s;
                    }
                    &:link:hover, &:visited:hover {
                      color: #FFF;
                      text-shadow: none;
                    }
                    &:link:hover:after, &:visited:hover:after {
                      height: 450%;
                    }
                    &:link, &:visited {
                      position: relative;
                      display: block;
                      padding: 14px 15px;
                      color: #fff;
                      font-size: 14px;
                      border-radius: 10px;
                      font-weight: bold;
                      text-align: center;
                      text-decoration: none;
                      overflow: hidden;
                      letter-spacing: .08em;
                      text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
                      -webkit-transition: all 1s ease;
                      -moz-transition: all 1s ease;
                      -o-transition: all 1s ease;
                      transition: all 1s ease;
                    }
                    &.victoria-one {
                      border: 1px solid white;
                      &:after {
                        background:black;
                        -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
                        -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
                        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
                        transform: translateX(-50%) translateY(-50%) rotate(-25deg);
                      }
                    }
                    &.victoria-two {
                        border: 1px solid white;
                      &:after {
                        background: black;
                        -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
                        -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
                        -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
                        transform: translateX(-50%) translateY(-50%) rotate(25deg);
                      }
                    }
                }
                }
                

            }
        }
    }
 }
}
