<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" routerLink="/home"><img src="./assets/img/header/logo.png" alt=""></a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <div class="col-left col-lg-7">
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" data-scroll="sliders">Trang chủ <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll="shower">Phim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll="showtimes">Lịch chiếu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll="news">Tin tức</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-scroll="contactSection">Liên hệ</a>
        </li>
      </ul>
    </div>
    <div class="col-right col-lg-5">
      <div *ngIf="condition; else elseBlock">
        <div class="dropdown">
          <div class="avatar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../../assets/img/header/user1.jpg" alt="avatar">
            <p class="ml-3 mb-0">{{HoTen}}</p>
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button (click)="xemLichSu()" class="dropdown-item"><i class="fa fa-user"></i>Thông tin tài khoản</button>
            <button (click)="dangXuat()" class="dropdown-item">Đăng xuất<i class="fa fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <button class="btn-login" data-toggle="modal" data-target="#myModal">Đăng Nhập</button>
      </ng-template>
    </div>
    <app-modal></app-modal>
  </div>
</nav>