.navbar {
  width: 100%;
  background: #ff4444;
  position: fixed;
  z-index: 10000;
  .collapse {
    .col-left {
      display: flex;
      align-items: center;
      .navbar-nav {
        .nav-item {
          .nav-link {
            text-transform: uppercase;
            color: white;
          }
          &:hover > .nav-link {
            color: black;
            transition: all 0.5s;
          }
        }
      }
    }
    .col-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .dropdown {
        .avatar {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;
          img {
            width: 100%;
            display: block;
            border-radius: 50%;
          }
        }
        .dropdown-menu {
          padding: 0;
          border-radius: 5px;
          padding: 10px 0;
          .dropdown-item {
            padding: 0;
            text-align: center;
            margin-bottom: 5px;
            &:hover{
              background-color:  #FFDC47;
            }
            i{
              padding: 5px;
            }
          }
        }
      }
      .btn-login {
        margin: 0 10px;
        font-size: 1em;
        background: none;
        border: none;
        background-color: #FFDC47;
        border: 1px solid  #FFDC47;
        border-radius: 5px;
        padding: 6px 10px;
        &:hover{
          background-color: #ff4444;
          border: 1px solid black;
          color: white;
          border-radius: 0;
          transition: all 0.5s;
        }
      }
    }
  }
}
