<app-slider></app-slider>
<app-shower></app-shower>
<app-lich-chieu></app-lich-chieu>
<app-news></app-news>

<!-- prs Newsletter Wrapper Start -->
<div class="prs_newsletter_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="prs_newsletter_text">
                    <h3>Liên hệ với chúng tôi!</h3>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="prs_newsletter_field">
                    <input type="text" placeholder="Hãy nhập vào Email">
                    <button type="submit">Gửi</button>
                </div>
            </div>
        </div>
    </div>
</div>