<form id="actionForm" [formGroup]="actionForm" (ngSubmit)="actionFormHandle(actionForm.value)">
  <mat-form-field>
    <input matInput formControlName="taikhoan" placeholder="Tài khoản" required>
    <mat-error *ngIf="hasError('taikhoan', 'required')">Vui lòng nhập tài khoản</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput formControlName="matkhau" placeholder="Mật khẩu" required>
    <mat-error *ngIf="hasError('matkhau', 'required')">Vui lòng nhập mật khẩu</mat-error>
  </mat-form-field>
  <div *ngIf="!condition">
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email" required>
      <mat-error *ngIf="hasError('email', 'required')">Vui lòng nhập email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="sdt" placeholder="Số điện thoại">
      <mat-error *ngIf="hasError('sdt', 'required')">Vui lòng nhập số điện thoại</mat-error>
    </mat-form-field>
  </div>
  <fieldset>
    <button [disabled]="!actionForm.valid" type="submit" class="btn btn-success"
      id="contact-submit">{{btnTitle}}</button>
    <button id="btnDong" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
  </fieldset>
</form>