.btnGhe{
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 2px;
   
}
.gheDaDat{
    background-color: red;
    cursor: not-allowed;
}
.gheDangChon{
    background-color: yellow;
}
