.suat{
   display: flex;
   align-items: center;
   h6{
      margin: 0 10px 0 0;
      color: rgba(255, 255, 255, 0.75);
   }
   button{
      background: none;
      border: none;
      border: 1px solid #FFEBEE;
      margin: 5px;
      border-radius: 2px;
      outline: none;
      &:hover{
         background-color: #F4511E;
         color: white;
         border: 1px solid #F4511E;
      }
   }
}