<!-- Main content -->
<section [ngStyle]="{'margin-left':mainMar}" id="main">
  <div class="mainHeader">
    <button class="openbtn" style="display:block" (click)="openNav()">{{content}}</button>
  </div>

  <!-- Body -->
  <div class="bodyMain">
    <router-outlet></router-outlet>
  </div>
</section>

<!-- Sidbar menu -->
<div [ngStyle]="{'width': sidebarWidth}" id="mySidebar" class="sidebar">
  <div class="profile ">
    <div class="profile_pic">
      <img src="./../../../assets/user1.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h5>John Doe</h5>
    </div>
  </div>
  <div class="general">
    <a routerLink="/admin">Dashboard</a>
    <a (click)="getMovie()" routerLink="/admin/danh-sach-phim">Quản Lý Phim</a>
    <a (click)="getUser()" routerLink="/admin/danh-sach-nguoi-dung">Quản Lý User</a>
  </div>
  <div class="sign-out">
    <button (click)="signOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign-Out</button>
  </div>
</div>