<div class="card">
    <div class="poster">
        <img src="{{this.phim.HinhAnh}}">
    </div>
    <div class="details">
        <h2>{{this.phim.TenPhim}}</h2>
        <div class="rating">
            <i *ngFor="let star of listStar;let stt = index" class="fa fa-star" aria-hidden="true"></i>
            <span>{{listStar.length}}/5</span>
        </div>
        <ul>
            <li>
                <a href="#" data-toggle="modal" data-target="#myModal" (click)="playVideo()" class="play-button">
                    <i class="fa fa-play fa-2x"></i>
                </a>
            </li>
            <li>
                <button data-toggle="modal" data-target="#myModal" (click)="xemChiTiet()"
                    class="btn btnMua btn-danger">CHI
                    TIẾT</button>
            </li>
        </ul>
        <div class="info">
            <p>{{this.phim.MoTa}}</p>
        </div>
    </div>
</div>