<ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
  <div *nguCarouselDef="let item;" class="item">
    <div class="row">
      <div class="col-md-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-md-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-md-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-md-3">
        <app-movie-card></app-movie-card>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-md-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-md-3">
        <app-movie-card></app-movie-card>
      </div>
      <div class="col-md-3">
        <app-movie-card></app-movie-card>
      </div>
    </div>
  </div>
  <button NguCarouselNext class="rightRs"><i class="fa fa-arrow-right"></i></button>
  <button NguCarouselPrev class="leftRs"><i class="fa fa-arrow-left"></i></button>
  <ul class="myPoint" NguCarouselPoint>
    <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint"
      (click)="myCarousel.moveTo(j)"></li>
  </ul>
</ngu-carousel>